.contacts-wrapper {
  display: flex;
  justify-content: space-between;
}

.contact-image {
  display: block;
  mix-blend-mode: multiply;
  padding-top: 45px;
}

.contact-color {
  font-weight: 700;
  padding-top: 60px;
  padding-left: 45px;
}

.contact-select {
  width: 450px;
  height: 50px;
  background: #D6E7D2;
  font-weight: 400;
  line-height: 40px;
  border-radius: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0px 35px 0px 20px;
  cursor: pointer;
  color: #717171;
}

.contact-select.select-active {
  background-color: #C1E698;
  box-shadow: none;
  font-size: 16px;
  padding: 0px 30px 0px 32px;
}

.select {
  position: relative;
  margin-top: 148px;
}

.select-item {
  position: relative;
  font-size: 16px;
  line-height: 40px;
  color: #499A18;
  border-bottom: 1px solid #D9D9D9;
  cursor: pointer;
}

.select-item:hover {
  color: #717171;
  border-color: #717171;
}

.select-body {
  display: none;
  flex-direction: column;
  gap: 12px;
  background-color: #DCE9D9;
  padding: 27px 35px 31px 35px;
}

.select-body.active {
  display: flex;
}

.select-arrow {
  position: absolute;
  top: 17px;
  right: 35px;
  cursor: pointer;
}

.contact-object {
  max-width: 448px;
  border: 1px solid #000000;
  border-radius: 20px;
  margin-top: 47px;
}

.contact-wrap {
  padding: 17px 57px 18px 36px;
  display: grid;
  grid-template-columns: 132px 171px
}

.contact-title {
  font-size: 16px;
  line-height: 40px;
}

.contact-content {
  font-size: 16px;
  line-height: 40px;
  color: #717171;
}

.tel-button {
  display: block;
  width: 122px;
  height: 26px;
  text-decoration: none;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 32px;
  border: 1px solid #E06733;
  border-radius: 5px;
  font-family: 'Inika', serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 13px;
  color: #717171;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
}

.tel-button:hover {
  background-color: #E06733;
  color: #FFFFFF;
  transition: 0.4s ease-in;
}

@media (max-width: 1339px) {
  .contacts-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 450px;
    margin: 0 auto;
  }
  .contact-image {
    align-self: center;
    order: 3;
    width: 200px;
    height: 248.49px;
    object-fit: contain;
    margin-left: 20px;
    padding-top: 0px;
  }
  .contact-color {
    font-size: 40px;
    line-height: 52px;
    padding-left: 0px;
    padding-top: 40px;
  }
  .contact-select {
    margin-top: 57px;
    margin-bottom: 250px;
  }
}

@media (max-width: 380px) {
  .contact-color {
    font-size: 25px;
    line-height: 33px;
    padding-top: 25px;
    padding-right: 3px;
  }
  .contact-select {
    width: 300px;
    margin-top: 47px;
    margin-bottom: 128px;
    padding-right: 22px;
  }
  .contact-image {
    width: 100px;
    height: 124.25px;
    margin-left: 0px;
    margin-right: 4px;
  }
}