.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.header-logo {
  display: flex;
  align-items: baseline;
}

.navigation {
  width: 100%;
  max-width: 465px;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  
}

.logo {
  background-image: url(/assets/logo_vector.svg);
  width: 19.07px;
  height: 19.55px;
}

.nav-link, .logo-text {
  font-family: 'Inika', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #010201;
}

.active-link {
  font-weight: 700;
  color: #E06733;
}

.nav-container li {
  line-height: 50px;
}

@media (max-width: 1339px) {
  .header-container {
    align-items: center;
    padding-top: 35px;
  }
}