.price-section {
  background-color: #FFFFFF;
}

.price-wrapper {
  display: flex;
  justify-content: space-between;
}

.subtitle-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 48px;
  color: #000000;
  padding-bottom: 60px;
}

.price-btns {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 332px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  padding: 34px 41px 34px 41px;
}

.price-BTN {
  display: flex;
  align-items: center;
  width: 250px;
  height: 50px;
  border: transparent;
  border-radius: 20px;
  background-color: #EDF2EC;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 20px;
  padding-left: 40px;
  justify-content: space-between;
  padding-right: 40px;
  cursor: pointer;
}

.price-BTN:hover {
  opacity: 0.6;
  transition: 0.3s;
}

.arrow-square {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #D9D9D9;
}

.arrow {
  position: absolute;
  left: 29%;
  bottom: 34%;
}

.subtitle-information {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: end;
  padding-bottom: 42px;
  padding-top: 37px;
}

.price-images {
  display: flex;
  flex-direction: column;
  max-width: 452px;
}

.images {
  max-width: 302px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: end;
  justify-content: center;
}

.contact-BTN {
  align-self: flex-end;
}

.price-image {
  object-fit: contain;
  mix-blend-mode: multiply;
}

.image-2 {
  align-self: end;
}

.image-3 {
  align-self: flex-start;
}

.image-4 {
  height: 167px;
}

.price-description {
  padding-top: 44px;
}

@media (max-width: 1339px) {
  .subtitle-bold {
    line-height: 42px;
    text-align: left;
    padding-left: 15px;
  }
  .price-description {
    padding-top: 40px;
  }
  .subtitle-information {
    font-size: 25px;
    line-height: 35px;
    padding-top: 145px;
    padding-left: 43px;
    padding-bottom: 27px;
    text-align: center;
  }
  .images {
    padding-top: 40px;
    max-width: 183px;
    align-self: center;
    margin-left: 56px;
  }
  .price-image:nth-child(1) {
    width: 114px;
  }
  .image-2 {
    width: 53px;
    margin-right: 16px;
  }
  .image-3 {
    width: 50px;
    align-self: baseline;
  }
  .image-4 {
    width: 89px;
    margin-right: 30px;
    height: auto;
  }
  .price-wrapper {
    padding-bottom: 66px;
  }
}

@media (max-width: 767px) {
  .images{
    display: none;
  }
  .price-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 380px) {
  .subtitle-bold {
    line-height: 30px;
    padding-left: 0px;
    padding-bottom: 39px;
    text-align: center;
  }
  .price-description {
    padding-top: 25px;
  }
  .price-btns {
    padding: 29px 22px 29px 22px;
  }
  .price-BTN {
    width: 180px;
    height: 49.72px;
    padding-left: 31px;
  }
  .price-btns {
    gap: 13px;
  }
  .subtitle-information {
    max-width: 230px;
    font-size: 20px;
    padding-top: 15px;
    padding-left: 0px;
    padding-bottom: 20px;
    text-align: center;
  }
  .contact-BTN {
    align-self: center;
  }
  .price-wrapper {
    padding-bottom: 42px;
  }
}
