.price-section {
  background-color: #FFFFFF;
}

.price-wrapper {
  display: flex;
  justify-content: space-between;
}

.subtitle-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 48px;
  color: #000000;
  padding-bottom: 60px;
}

.price-btns {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 332px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  padding: 34px 41px 34px 41px;
}

.price-BTN {
  display: flex;
  align-items: center;
  width: 250px;
  height: 50px;
  border: transparent;
  border-radius: 20px;
  background-color: #EDF2EC;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 20px;
  padding-left: 40px;
  justify-content: space-between;
  padding-right: 40px;
  cursor: pointer;
}

/* .price-BTN:hover {
  opacity: 0.6;
  transition: 0.3s;
} */

.arrow-square {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #D9D9D9;
}

.arrow-square:hover {
  background-color: #b3afaf;
  transition: 0.3s;
}

.arrow {
  position: absolute;
  left: 30%;
  bottom: 34%;
  pointer-events: none;
}

.subtitle-information {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: end;
  padding-bottom: 42px;
  padding-top: 37px;
}

.price-images {
  display: flex;
  flex-direction: column;
  max-width: 452px;
}

.images {
  max-width: 302px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: end;
  justify-content: center;
}

.contact-BTN {
  align-self: flex-end;
}

.price-image {
  object-fit: contain;
  mix-blend-mode: multiply;
}

.image-2 {
  align-self: end;
}

.image-3 {
  align-self: flex-start;
}

.image-4 {
  height: 167px;
}

.price-description {
  padding-top: 44px;
}
.accordion-body {
  display: block;
}

.accordion-item {
  height: 50px;
  overflow: hidden;
  transition: 0.4s ease-in-out;
}

.accordion-item.show {
  height: 158px;
  background-color: #D6E7D2;
  border-radius: 20px;
}

.accordion-item.show .price-BTN {
  background-color: inherit;
  border-radius: 0px;
}

.arrow-square.arrow-up .arrow {
  transform: rotate(180deg);
  bottom: 35%;
  filter: invert(100%) sepia(0%) saturate(7476%) hue-rotate(201deg) brightness(123%) contrast(116%);
  mix-blend-mode: screen;
}

.accordion-content {
  font-size: 10px;
  font-weight: 300;
  line-height: 10px;
  border-top: 0.5px solid #AEA1A1;
  padding-top: 6px;
  padding-bottom: 6px;
}

.accordion-body {
  display: flex;
  flex-direction: column;
  max-width: 169px;
  margin: 0 auto;
}

.accordion-button {
  width: 86px;
  height: 25px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #717171;
  background: #FFFFFF;
  text-align: center;
  text-decoration: none;
  padding-top: 3px;
  font-weight: 700;
}

.accordion-price {
  font-size: 12px;
  line-height: 20px;
  padding-bottom: 10px;
}

.price-item {
  font-size: 16px;
  line-height: 20px;
  color: #E06733;
  font-weight: 700;
}

@media (max-width: 1339px) {
  .subtitle-bold {
    line-height: 42px;
    text-align: left;
    padding-left: 15px;
  }
  .price-description {
    padding-top: 40px;
  }
  .subtitle-information {
    font-size: 25px;
    line-height: 35px;
    padding-top: 145px;
    padding-left: 43px;
    padding-bottom: 27px;
    text-align: center;
  }
  .images {
    padding-top: 40px;
    max-width: 183px;
    align-self: center;
    margin-left: 56px;
  }
  .price-image:nth-child(1) {
    width: 114px;
  }
  .image-2 {
    width: 53px;
    margin-right: 16px;
  }
  .image-3 {
    width: 50px;
    align-self: baseline;
  }
  .image-4 {
    width: 89px;
    margin-right: 30px;
    height: auto;
  }
  .price-wrapper {
    padding-bottom: 66px;
  }
}

@media (max-width: 767px) {
  .images{
    display: none;
  }
  .price-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 380px) {
  .subtitle-bold {
    line-height: 30px;
    padding-left: 0px;
    padding-bottom: 39px;
    text-align: center;
  }
  .price-description {
    padding-top: 25px;
  }
  .price-btns {
    padding: 29px 22px 29px 22px;
  }
  .price-BTN {
    width: 180px;
    height: 49.72px;
    padding-left: 31px;
  }
  .price-btns {
    gap: 13px;
  }
  .subtitle-information {
    max-width: 230px;
    font-size: 20px;
    padding-top: 15px;
    padding-left: 0px;
    padding-bottom: 20px;
    text-align: center;
  }
  .contact-BTN {
    align-self: center;
  }
  .price-wrapper {
    padding-bottom: 42px;
  }
}
