.service-content {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  padding-bottom: 68px;
  gap: 87px;
}

.control-wrapper {
  display: flex;
  align-items: center;
  max-width: 1005px;
  justify-content: space-between;
}

.subtitle-color {
  color: #499A18;
  max-width: 306px;
}

.control-items {
  display: flex;
  justify-content: space-around;
  gap: 38px;
}

.control-button {
  border: 1px solid #E06733;
  border-radius: 5px;
  background-color: transparent;
  font-family: 'Inika', serif;
  line-height: 26px;
  width: 161px;
  height: 50px;
  color: #E06733;
  padding-top: 5px;
  cursor: pointer;
  transition: all 0.5s;
}

.image-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 55px;
}

.image-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 330px;
}

.service-image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: block;
}

.service-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 20px;
  color: #E06733;
  padding: 10px 0px 13px 0px;
  text-align: center;
}

.service-description {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 36px;
  text-align: center;
}

.description {
  width: 100%;
  height: 100%;
  border: 1px solid #E3E1D5;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.control-button.active-button {
  background-color: #E06733;
  color: #FFFFFF;
  transition: 0.4s ease-in;
  transition: all 0.5s;
}
.control-button.pointer {
  pointer-events: none;
}

.title-right {
  padding-right: 14px;
}

.title-left {
  padding-left: 18px;
}

.image-content.effect {
  filter: blur(4px);
  transition: 0.6s ease-in-out;
}

.image-content {
  transition: 0.6s ease-in-out;
}

@media (max-width: 1339px) {
  .control-wrapper {
    flex-wrap: wrap;
  }
  .subtitle-color {
    text-align: left;
    padding-bottom: 42px;
  }
  .service-content {
    padding-top: 60px;
    gap: 40px;
  }
  .image-wrapper {
    gap: 39px;
  }
  .service-image {
    width: 100%;
    height: 348px;
    object-fit: fill;
  }
  .image-information {
    max-width: 280px;
  }
  .title-right {
    padding-right: 0px;
  }
  .title-left {
    padding-left: 0px;
    padding-right: 17px;
  }
  .service-description {
    text-align: left;
    padding: 0px 39px 17px 38px;
  }
  .image-information:nth-child(6) .description .service-title {
    padding-right: 0px;
    padding-left: 3px;
  }
}

@media (max-width: 767px) {
  .control-items {
    flex-wrap: wrap;
  }
  .image-wrapper {
    justify-content: center;
  }
}

@media (max-width: 380px) {
  .service-content {
    padding-top: 30px;
    padding-bottom: 23px;
  }
  .subtitle-color {
    max-width: 187px;
    padding-bottom: 38px;
  }
  .control-button {
    width: 121px;
    height: 35px;
    font-size: 15px;
    line-height: 20px;
  }
  .control-items {
    justify-content: flex-start;
    gap: 9px;
  }
  .service-image {
    width: 279px;
    height: 352px;
  }
  .image-wrapper {
    gap: 30px;
  }
}